/* 头部样式开始 */
.header_con {
    width: 100%;
    height: 100px;
    overflow: hidden;
    zoom: 1;
    text-align: center;
}
.register_header {
    width: 1000px;
    overflow: hidden;
    margin: 10px auto 0px auto;
    zoom: 1;
    position: relative;
}

.register_header .logo {
    line-height: 82px;
}
.register_header .logo img {
    float: left;
}
.register_header .logo .register_headlogo_title {
    font-family: Helvetica,黑体;
    font-size: 18px;
    color: #949292;
    float: left;
    padding-left: 10px;
}

.register_header_phone {
    position: absolute;
    right: 0;
    bottom: 0px;
    line-height: 27px;
    height: 27px;

}
.register_header_phone img{
	float: left;
}
.register_header_phone span {
    font-family: Helvetica,黑体;
    font-size: 15px;
    color: #000;
    float: left;
}

/* 头部样式结束 */
.register {
    background-color: #ecebe7;
    overflow: hidden;
    margin: 0 auto;
    background: url(http://img.5lux.com.cn/vendor/images/5lux/login/mobile-bg.jpg) no-repeat;
}

.register_content {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}


.register_left {
    width: 705px;
    height: 680px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: -150px;
    background: url(http://www.5lux.com/vendor/images/5lux/login/baijin-icon.png) no-repeat;
}

.register_right {
    width: 450px;
    background-color: #fff;
    float: right;
    margin-top: 47px;
    margin-left: 10px;
    -webkit-box-shadow: #afabab 0px 0px 8px;
    -moz-box-shadow: #afabab 0px 0px 8px;
    box-shadow: #afabab 0px 0px 8px;
}

.register_box {
    width: 300px;
    margin: 45px auto;
    text-align: left;
}
.register_box ul {
    display: block;
    position: relative;
}
.re_con_title {
    width: 100%;
    padding-bottom: 12px;
    text-align: left;
    overflow: hidden;
    color: #6d6d6d;
    font-size: 15px;
    border-bottom: #ccc solid 1px;
}
.clear_h32 {
    height: 32px;
    line-height: 32px;
    clear: both;
    float: none;
}
.login_con {
    height: 64px;
    line-height: 64px; 
    padding-left: 25px;
}

.login_con input {
    width: 250px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.reg_input_user_bg {
    background: url(http://img.5lux.com.cn/vendor/images/5lux/login/v2/login_reg_input_user_bg.jpg) no-repeat;
    text-indent: 2.8em;
}

.msg_tips {
    display: inline-block;
    font-size: 12px;
    color: #666;
    line-height: 15px;
    vertical-align: middle;
    width: 150px;
}
.msg_warning {
    display: inline-block;
    font-size: 12px;
    color: #333;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    width: 250px;
    border: 1px solid #ff9ba5;
    background: #fee0e3;
}
.reg_input_pw_bg {
    background: url(http://img.5lux.com.cn/vendor/images/5lux/login/v2/login_reg_input_pw_bg.jpg) no-repeat;
    text-indent: 2.8em;
}

.jizhu {
    padding-left: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.jizhu input {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.jizhu span {
    float: left;
}

.jizhu a {
    color: #a78668;
    text-decoration: underline;
    margin-left: 45px;
}

.reg_btn_wrap {
    padding-left: 25px;
    margin-top: 10px;
}

.login_btn {
    display: inline;
    width: 250px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
    overflow: hidden;
    background-color: #cf0101;
}

.login_re {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    border-bottom: #ccc solid 1px;
}

.login_re a {
    text-decoration: underline;
    color: #a78668;
    margin-left: 10px;
}

.login_hezuo {
    padding-top: 20px;
    text-align: center;
}

.login_hezuo p {
    float: left;
    padding-left: 25px;
}