html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }

fieldset, c{ border:none; }

address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }

ul, ol ,li{list-style:none; }

a {color:#666; text-decoration:none; cursor: auto;}
button, input {
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
em,i{font-style: normal;}

body {font:12px/200% 'microsoft yahei','微软雅黑',Helvetica,Arial,Tahoma,"黑体",'宋体',sans-serif;color:#000;-webkit-text-size-adjust:none;}
table,tr,td,th{border:none;text-align:left;}
table{border-collapse:collapse;}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: #757272;
    text-decoration: none;
}

a:link {
    color: #757272;
    text-decoration: none;
}
.menu_inner a:link, .menu_inner a:visited {
    color: #c8a985;
}
a:hover {
    color: #b28247;
}
.clearfix::after{content: ""; display: block; visibility: hidden; clear: both; height: 0; overflow: hidden;}